/*
    Ignitor 
    Authors: 
      Venkata Sai Katepalli
      Teshu Katepalli
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin 0
    padding 0
    border 0
    font-size 100%
    font inherit
    vertical-align baseline

// reset for older browsers 
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display block

html
    box-sizing border-box
    font-size 16px
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%
    -ms-overflow-style scrollbar
    -webkit-tap-highlight-color transparent

body
    font-size 1em
    line-height 1

h1, h2, h3, h4, h5, h6, th, td, caption
    font-weight normal

*
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    &:before, &:after
        box-sizing inherit

ol, ul
	list-style none

blockquote, q
    quotes none
    &:before, &:after
	    content ''
	    content none

img, embed, iframe, object, audio, video
    height auto
    max-width 100%

table
	border-collapse collapse
	border-spacing 0
	
td, th
    text-align left
    vertical-align top

/* Font Sizes */
h1,h2,h3,h4,h5,h6
  font-weight 500
  margin-bottom 0.4em
h1
  font-size 2.3em
h2
  font-size 2.1em
h3
  font-size 1.9em
h4
  font-size 1.7em
h5
  font-size 1.5em
h6
  font-size 1.3em
p
  font-size 1em
  line-height 1.1em
  letter-spacing 0.2px

/* Aligns */
.txt-center
  text-align center
.txt-left
  text-align left
.txt-right
  text-align right
.f-right
  float right
.f-left
  float left
.align-center
  display table
  margin 0 auto

/**
  Default Spacing for Layout
**/
space(head, prop, row, type)
    .{head}-
        if row == 0
            if prop
                &{prop}-{(1 * row)}
                    {type}-{prop} (1px * row)
            else
                &{(1 * row)}
                    {type} (1px * row)
        else
            if prop
                &{prop}-{(10 * row) - 5}
                    {type}-{prop} (10px * row) - 5
                &{prop}-{10 * row}
                    {type}-{prop} (10px * row)
            else
               &{(10 * row) - 5}
                    {type} (10px * row) - 5
                &{10 * row}
                    {type} (10px * row)

spacings(prop, row, type)
    space(prop, '', row, type)
    space(prop, 'top', row, type)
    space(prop, 'right', row, type)
    space(prop, 'bottom', row, type)
    space(prop, 'left', row, type)

for row in (0..4)
    spacings('pad', row, 'padding')
    spacings('margin', row, 'margin')