/*
    Ignitor 
    Authors: 
      Venkata Sai Katepalli
      Teshu Katepalli
*/
@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 1em;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
caption {
  font-weight: normal;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before,
*:after {
  box-sizing: inherit;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  text-align: left;
  vertical-align: top;
}
button,a{
  cursor: pointer;
}

/* Font Sizes */
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
  margin-bottom: 0.4em;
}
h1 {
  font-size: 2.3em;
}
h2 {
  font-size: 2.1em;
}
h3 {
  font-size: 1.9em;
}
h4 {
  font-size: 1.7em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1.3em;
}
p{
  font-size: 1em;
  line-height: 1.1em;
  letter-spacing: 0.2px;
}

/* Aligns */
.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.f-right{
  float: right;
}
.f-left{
  float: left;
}
.align-center{
  display: table;
  margin: 0 auto;
}

/**
  Default Spacing for Layout
**/
.pad-0 {
  padding: 0px;
}
.pad-top-0 {
  padding-top: 0px;
}
.pad-right-0 {
  padding-right: 0px;
}
.pad-bottom-0 {
  padding-bottom: 0px;
}
.pad-left-0 {
  padding-left: 0px;
}
.margin-0 {
  margin: 0px;
}
.margin-top-0 {
  margin-top: 0px;
}
.margin-right-0 {
  margin-right: 0px;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-left-0 {
  margin-left: 0px;
}
.pad-5 {
  padding: 5px;
}
.pad-10 {
  padding: 10px;
}
.pad-top-5 {
  padding-top: 5px;
}
.pad-top-10 {
  padding-top: 10px;
}
.pad-right-5 {
  padding-right: 5px;
}
.pad-right-10 {
  padding-right: 10px;
}
.pad-bottom-5 {
  padding-bottom: 5px;
}
.pad-bottom-10 {
  padding-bottom: 10px;
}
.pad-left-5 {
  padding-left: 5px;
}
.pad-left-10 {
  padding-left: 10px;
}
.margin-5 {
  margin: 5px;
}
.margin-10 {
  margin: 10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.pad-15 {
  padding: 15px;
}
.pad-20 {
  padding: 20px;
}
.pad-top-15 {
  padding-top: 15px;
}
.pad-top-20 {
  padding-top: 20px;
}
.pad-right-15 {
  padding-right: 15px;
}
.pad-right-20 {
  padding-right: 20px;
}
.pad-bottom-15 {
  padding-bottom: 15px;
}
.pad-bottom-20 {
  padding-bottom: 20px;
}
.pad-left-15 {
  padding-left: 15px;
}
.pad-left-20 {
  padding-left: 20px;
}
.margin-15 {
  margin: 15px;
}
.margin-20 {
  margin: 20px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 20px;
}
.pad-25 {
  padding: 25px;
}
.pad-30 {
  padding: 30px;
}
.pad-top-25 {
  padding-top: 25px;
}
.pad-top-30 {
  padding-top: 30px;
}
.pad-right-25 {
  padding-right: 25px;
}
.pad-right-30 {
  padding-right: 30px;
}
.pad-bottom-25 {
  padding-bottom: 25px;
}
.pad-bottom-30 {
  padding-bottom: 30px;
}
.pad-left-25 {
  padding-left: 25px;
}
.pad-left-30 {
  padding-left: 30px;
}
.margin-25 {
  margin: 25px;
}
.margin-30 {
  margin: 30px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-right-25 {
  margin-right: 25px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-left-25 {
  margin-left: 25px;
}
.margin-left-30 {
  margin-left: 30px;
}
.pad-35 {
  padding: 35px;
}
.pad-40 {
  padding: 40px;
}
.pad-top-35 {
  padding-top: 35px;
}
.pad-top-40 {
  padding-top: 40px;
}
.pad-right-35 {
  padding-right: 35px;
}
.pad-right-40 {
  padding-right: 40px;
}
.pad-bottom-35 {
  padding-bottom: 35px;
}
.pad-bottom-40 {
  padding-bottom: 40px;
}
.pad-left-35 {
  padding-left: 35px;
}
.pad-left-40 {
  padding-left: 40px;
}
.margin-35 {
  margin: 35px;
}
.margin-40 {
  margin: 40px;
}
.margin-top-35 {
  margin-top: 35px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-right-35 {
  margin-right: 35px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-bottom-35 {
  margin-bottom: 35px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-left-35 {
  margin-left: 35px;
}
.margin-left-40 {
  margin-left: 40px;
}

/*
  Buttons with different flavours
*/
.btn, .btn-large, .btn-floating, .btn-outline-sucess, .btn-outline-primary, .btn-outline-warning,.btn-outline-danger, .btn-outline, .btn-text {
  font-size: .875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .08929em;
  text-decoration: none;
  text-transform: uppercase;
  will-change: transform,opacity;
  padding: 0 8px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  line-height: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  color: #595959;
  -webkit-font-smoothing: antialiased;
  webkit-tap-highlight-color: rgba(0,0,0,0);
}
.btn, .btn-large, .btn-floating{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.btn:hover, .btn-large:hover, .btn-floating:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.btn-text:hover {
  background-color: #e7e5e5;
}
.btn-primary{
  background-color: #287ae6;
  color: white;
}
.btn-primary:hover{
  background-color: #287ae6;
  color: white;
  opacity: 0.9;
}
.btn-warning{
  background-color: #fa7b17;
  color: white;
}
.btn-warning:hover{
  background-color: #fa7b17;
  color: white;
  opacity: 0.9;
}
.btn-danger{
  background-color: #c5221f;
  color: white;
}
.btn-danger:hover{
  background-color: #c5221f;
  color: white;
  opacity: 0.9;
}
.btn-sucess{
  background-color: #1e8e3e;
  color: white;
}
.btn-sucess:hover{
  background-color: #1e8e3e;
  opacity: 0.9;
  color: white;
}
.btn-outline-primary {
  border: 2px solid #287ae6;
  color: #287ae6;
  background-color: transparent!important;
}
.btn-outline-sucess {
  border: 2px solid #1e8e3e;
  color: #1e8e3e;
  background-color: transparent!important;
}
.btn-outline-warning {
  border: 2px solid #fa7b17;
  color: #fa7b17;
  background-color: transparent!important;
}
.btn-outline-danger {
  border: 2px solid #c5221f;
  color: #c5221f;
  background-color: transparent!important;
}
.btn-outline {
  border: 2px solid #595959;
  color: #595959;
  background-color: transparent!important;
}

/**
    Table styles
**/
.table {
  border: 1px solid #ddd;
  font-family: inherit;
  width: 100%;
}

.table thead tr {
  background-color: #f5f7fa;
}

.table thead tr th {
  padding: 15px;
  color: #404040;
  font-size: 16px;
  font-weight: bold;
  line-height: 15px;
  border: none;
}

.table thead tr th .fa.fa-sort {
  color: #c0c0c0;
  cursor: pointer;
}

.table thead tr th.active_sort .fa.fa-sort-down,
.table thead tr th .fa.fa-sort-up {
  color: #00afdc;
}

.table tbody tr {
  border-top: 1px solid #ddd;
}

.table tbody tr td {
  vertical-align: middle;
  border: none;
  color: #4c4c4c;
  padding: 14px 15px;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  background-color: #fff;
}

.table tbody tr:hover {
  cursor: pointer;
  background-color: #f0f3f6;
}