/*
    Ignitor 
    Authors: 
      Venkata Sai Katepalli
      Teshu Katepalli
*/
@charset "UTF-8";
.btn, .btn-large, .btn-floating, .btn-outline-sucess, .btn-outline-primary, .btn-outline-warning,.btn-outline-danger, .btn-outline, .btn-text {
	font-size: .875rem;
	line-height: 2.25rem;
	font-weight: 500;
	letter-spacing: .08929em;
	text-decoration: none;
	text-transform: uppercase;
	will-change: transform,opacity;
	padding: 0 8px;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 64px;
	height: 36px;
	border: none;
	outline: none;
	line-height: inherit;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	overflow: hidden;
	vertical-align: middle;
	border-radius: 2px;
	background-color: transparent;
	cursor: pointer;
	color: #595959;
	-webkit-font-smoothing: antialiased;
	webkit-tap-highlight-color: rgba(0,0,0,0);
}
.btn, .btn-large, .btn-floating{
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.btn:hover, .btn-large:hover, .btn-floating:hover {
	-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.btn-text:hover {
	background-color: #e7e5e5;
}
.btn-primary{
	background-color: #287ae6;
	color: white;
}
.btn-primary:hover{
	background-color: #287ae6;
	color: white;
	opacity: 0.9;
}
.btn-warning{
	background-color: #fa7b17;
	color: white;
}
.btn-warning:hover{
	background-color: #fa7b17;
	color: white;
	opacity: 0.9;
}
.btn-danger{
	background-color: #c5221f;
	color: white;
}
.btn-danger:hover{
	background-color: #c5221f;
	color: white;
	opacity: 0.9;
}
.btn-sucess{
	background-color: #1e8e3e;
	color: white;
}
.btn-sucess:hover{
	background-color: #1e8e3e;
	opacity: 0.9;
	color: white;
}
.btn-outline-primary {
	border: 2px solid #287ae6;
	color: #287ae6;
	background-color: transparent!important;
}
.btn-outline-sucess {
	border: 2px solid #1e8e3e;
	color: #1e8e3e;
	background-color: transparent!important;
}
.btn-outline-warning {
	border: 2px solid #fa7b17;
	color: #fa7b17;
	background-color: transparent!important;
}
.btn-outline-danger {
	border: 2px solid #c5221f;
	color: #c5221f;
	background-color: transparent!important;
}
.btn-outline {
	border: 2px solid #595959;
	color: #595959;
	background-color: transparent!important;
}
