/*
    Ignitor 
    Authors: 
      Venkata Sai Katepalli
      Teshu Katepalli
*/
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900');
@import url('ignitor.css');
/*@import url('https://cdn.codejunkers.in/ignitor/css/ignitor.css');*/
* {
	font-family: 'M PLUS Rounded 1c', sans-serif!important;
	font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
	background-color: #f5f5f5;
}

/*header*/
.header{
	width: 100%;
	font-size: 17px;
	min-height: 50px;
}
.header-title {
	margin: 0px 30px;
	text-decoration: none;
	color: inherit;
	display: inline-block;
	font-weight: bold;
	position: relative;
	top: 13px;
}
.menu {
	display: inline-block;
	list-style: none;
	margin: 5px;
	padding: 0px;
	color: inherit;
}
.menu>li {
	padding: 10px;
	color: inherit;
	float: left;
	letter-spacing: 0.5px;
}
.menu>li>a {
	text-decoration: none;
	color: inherit;
	font-size: 14px;
	opacity: .75;
	font-weight: 400;
}
.menu>li>a:hover, .menu>li.active>a {
	opacity: 1;
}
.menu-right{
	float: right;
}
.fixed-top {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
}

/*backgrounds*/
.inverse-bg {
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}