/*
    Ignitor 
    Authors: 
      Venkata Sai Katepalli
      Teshu Katepalli
*/
.table
    border 1px solid #DDDDDD
    font-family inherit
    width 100%
    & thead
        & tr
            background-color #F5F7FA
            & th
               padding 15px
               color #404040
               font-size 16px
               font-weight bold
               line-height 15px
               border none
               & .fa.fa-sort
                   color silver 
                   cursor pointer
               &.active_sort .fa.fa-sort-down, .fa.fa-sort-up
                   color #00afdc 
    & tbody
        & tr
            border-top 1px solid #DDDDDD
            & td 
                vertical-align middle
                border none
                color #4c4c4c
                padding 14px 15px
                font-size 14px
                letter-spacing 0.2px
                line-height 20px
                background-color white
            &:hover 
                cursor pointer
                background-color #f0f3f6